body {
    background-image: linear-gradient(to bottom , pink, salmon);
    background-repeat: no-repeat;
}

.btn-group button {
    background-color: transparent; /* Green background */
    border: 1px solid transparent; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-size: medium;
    transition: all 0.5s;
    cursor: pointer;
    }

.btn-group button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

.btn-group button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

.btn-group button:hover span {
      padding-right: 25px;
    }

.btn-group button:hover span:after {
  opacity: 1;
  right: 0;
}

   /* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  /* Add a background color on hover */
.btn-group button:hover {
    background-color: #fcb5d0;
    font-weight: bold;
    transition: box-shadow .3s;
  }

img{
  border-radius: 50px;
  width: 324px;
  float: right;
  margin-right: 10%;
}

.footer{
  bottom: 0; 
  left:50%;
  margin-left:-50%;
}

input[type=text], select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], .klikHierKnop {
  background-color: #fcb5d0;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  transition: #45a049;
}

.registreren, .recept {
  border-radius: 5px;
  background-color: rgb(250, 128, 114);
  padding: 20px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

#tabel1 th, td {
  border-bottom: 1px solid #ddd;
}

#table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

.column {
  float: right;
  width: 33.33%;
  padding: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}